 <button (click)="getTasksFromService()">see tasks</button>

    <ul>
      <li *ngFor="let task of tasks">{{task.title}} <button (click)="getOneTaskFromService(task._id)">edit task</button>
</li>
    </ul>



<!--<form *ngIf="currentTask" action="">
  <input type="text" name="title" [value]="currentTask.title">
  <input type="text" name="description" [value]="currentTask.description">
  <input type="submit" value="Submit" >
</form>-->
<form *ngIf="currentTask" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input name="title" ngModel required #title="ngModel">
    <input name="description" ngModel>
    <button>Submit</button>
</form>
    